@use "main";

.navbar {
    background: main.$peps-blue;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 100;

    .container {
        max-width: 100% !important;
        padding: 1rem 9%;
        align-items: center;
        justify-content: center;
        display: flex;
        justify-content: space-between;


        .nav-brand {
            font-size: 2rem;
            margin-left: 5rem;
            color: main.$text-color;
            text-decoration: none;

        }


        .collapse {

            .nav-activ {
                color: main.$span-color;
                text-decoration: underline;
                font-size: 1.5rem;
            }

            .nav-link {
                color: main.$text-color;
                padding: 0.6rem;
                font-size: 1.4rem;
                text-decoration: none;

                &:hover {
                    cursor: pointer;
                    color: main.$span-color;
                }
            }


        }

        .navbar-nav {
            font-size: 1.2rem;
            margin-right: 1rem;

        }
    }
}